/* Reset do CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23f5f5f5' fill-opacity='1.00' fill-rule='evenodd'/%3E%3C/svg%3E");
  
  font-family: "PT Mono";
  margin: 0;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, #000000 0%, #303040 100%);
}

/* Se a tela tiver o tamanho minímo de 600px, carrega os elementos internos */
@media (min-height: 700px) {
    header {
        height: 60vh;
    }
}

.nav-menu {  
  background-image: linear-gradient(45deg, #FF6347 0%, #FF4550 20%);
  
  position: fixed;
  top: 0;
  width: 100vw;
}

.nav-menu ul {
  display: flex;
  /* Funciona porque usamos o display: flex */
  justify-content: space-around;
}

.nav-menu li {
  /* Alterando o estilo da lista dentro do elemento de class 'menu'*/
  list-style: none;
}

.nav-menu a {
    padding: 10px;
    /* background-color: blue; */
    display: block;
}

/* .header {
  background-image: linear-gradient(45deg, #000000 0%, #303040 100%);
  
  background-color: #000000;
  width: 50vw;
  height: 30vh;
  padding: 7.75em 0 5.25em; /* levar isso para uma div interna
} */

a {
  /* Estou removendo o underscore dos elementos <a> */
  color: white;
  text-decoration: none;
}

/* Pseudo classe do elemento <a> */
a:hover {
  text-decoration: underline;
}

.site-subtitle, 
.site-title {
  color: whitesmoke;
  text-align: center;
  padding: 0.3em;
}

.site-title {
    font-size: 4em;
}
.site-subtitle {
  font-style: italic;
}

.portfolio {
    padding: 2em;
}

.portfolio h2 {
    margin-bottom: 1em;
}

.img-portfolio {
    height: 250px;
    width: 250px;
    object-fit: cover;
    object-position: left;
}

.portfolio .grid {
    display: grid;
    gap: 2em;
    justify-content: center;
}

@media (min-width: 620px) {
    .portfolio .grid {
        grid-template-columns: repeat(2, 310px);
    }
}

@media (min-width: 930px) {
    .portfolio .grid {
        grid-template-columns: repeat(3, 310px);
        height: calc(70vh);
    }
}